# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\www\Kotlin\Aula25092020-DesafioKotlin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
